---
layout: default
---
<div class="gallery_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <h1 class="gallery_taital">Onze Schapen</h1>
            <p class="gallery_text"></p>
         </div>
      </div>
      <div class="gallery_section_2">
        <div class="row">
           <div class="col-sm-4">
             {% include person.html name="Bj&ouml;rn" pic="bjorntje.jpg"%}
           </div>
       	   <div class="col-sm-4">
             {% include person.html name="Wolga" pic="bjorntje.jpg"%}
       	   </div>
           <div class="col-sm-4">
             {% include person.html name="Fino" pic="Molly-1.jpg"%}
       	   </div>
           <div class="col-sm-4">
             {% include person.html name="Molly" pic="sheep\Molly-2.jpg"%}
       	   </div>
        </div>
      </div>
    </div>
  </div>
 
