---
layout: default
---
<div class="gallery_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <h1 class="gallery_taital">De verzorgers</h1>
            <p class="gallery_text"></p>
         </div>
      </div>
      <div class="gallery_section_2">
        <div class="row">
           <div class="col-sm-4">
             {% include person.html name="Atina" pic="sheep/Atina+Bjorn-2.jpg"%}
           </div>
       	   <div class="col-sm-4">
             {% include person.html name="Marlene" pic="Marlene.jpg"%}
       	   </div>
           <div class="col-sm-4">
             {% include person.html name="Jeroen" pic="sheep/Jeroen-2.jpg"%}
       	   </div>
           <div class="col-sm-4">
             {% include person.html name="Jef" pic="Jef.jpg"%}
       	   </div>
           <div class="col-sm-4">
             {% include person.html name="Jila2" pic="Jila.jpg"%}
       	   </div>
        </div>
      </div>
    </div>
  </div>
