
<div class="container">
  <div class="row">
    <div class="owl-carousel">
      {% for item in site.data.allefotos2 %}
      {% if item.selected %}
      <div class="item">
        <div class="card">
          <div class="card-body">
            <img src="{{site.baseurl}}/images/sheep/{{ item.naam }}" alt="First slide" class="card-img-bottom">
            <hr></hr>
            <h5> {{item.datum}} </h5>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
