<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">De Schapenstal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{site.baseurl}}/index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/dieren.html">Schapen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/team.html">Mensen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/gallery.html">Gallery</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{site.baseurl}}/about.html">Wie wij zijn</a>
          <a class="dropdown-item" href="{{site.baseurl}}/about.html">Doelstelling</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/blog.html">Nieuws</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
      </li>
    </ul>
  </div>
</nav>
