  <li>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-4">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4><p>{{include.period}}</p></h4>
            <h4 class="subheading">{{include.title}}</h4>
          </div>
          <div class="timeline-body">
            <div class="text-muted"><p>{{include.text}}</p>
            </div>
          </div>
        </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4><p></p></h4>
              <h4 class="subheading"></h4>
            </div>
            <div class="timeline-body"></div>
            {% include person.html name="Jeroen" pic="willem.jpg"%}
          </div>
       </div>
     </div>
   </li>
